name = "GCopt"
uuid = "105f6ee8-0889-46b1-9d4b-65e03cbc8f13"
authors = ["Andrew Ning <aning@byu.edu> and contributors"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
